[user]
	name = Russell Kirmayer
	email = russell.kirmayer@oden.io
[core]
	editor = vim
    excludesfile =~/.gitignore
[web]
    browser = google-chrome
[alias]
    st = status
    cm = commit -m
    pom = push origin master
