[user]
	name = Russell Kirmayer
	email = russellkir@gmail.com
[core]
    editor = vim
    excludesfile =~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[web]
    browser = google-chrome
[alias]
    st = status
    cm = commit -m
    pom = push origin master
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[branch]
	autosetuprebase = always
[pull]
	rebase = true
	default = current
[push]
	default = current
